{% extends 'baseAdmin.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Mes informations</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h2 class="my-3">Votre email</h2>
        <div class="row">
            <div class="col"><p>Adresse e-mail actuelle</p></div>
            <div class="col"><p>{{ user.email }}</p></div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_label(form.email) }}</div>
            <div class="col">{{ form_widget(form.email) }}</div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Modifier</button>
        {{ form_end(form) }}

        <h2 class="my-3">photo de profil</h2>
        {{ form_start(profile) }}
        <div class="row">
            <div class="col">
            {% if app.user.profile is null %}
                <img class="img-fluid mr-1" alt="Thumbnail [250x250]"  src="http://via.placeholder.com/250x250">
                {% else %}
                <img class="img-fluid mr-1" src="{{ vich_uploader_asset(app.user.profile, 'imageFile' ) }}" alt="" />
            {% endif %}
            </div>
            <div class="col">{{ form_row(profile.imageFile) }}</div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Modifier</button>
        {{ form_end(profile) }}

        <h2 class="my-3">Votre mot de passe</h2>
        <div class="row">

        </div>
    </div>
        {{ dump(app.user) }}
{% endblock %}



