{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 my-5">
                {% if recipe.imageName is null %}
                    <img class="card-img-top" alt="Thumbnail [200x250]" src="http://via.placeholder.com/538x250">
                    {% else %}
                    <img class="img-fluid w-100" src="{{ vich_uploader_asset(recipe, 'imageFile') | imagine_filter('recipeBackground') }}" alt="{{ recipe.imageName }}" />
                {% endif %}
                <h1 class="my-5">{{ recipe.title }}</h1>
                <p>{{ recipe.description }}
                <p>recette crée par {{ recipe.user.firstName }}</p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center my-5">vous aimerez aussi</h2>
                {% for suggestion in suggestions%}
                    <div class="card mb-5 shadow-sm">
                        <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ suggestion.title }}</h5>
                            <a href="{{ path('recette', {'slug': suggestion.slug}) }}" class="btn btn-primary">Voir la recette</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
